<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
		<style>
			.red{
				background: red;
			}
			.blue{
				background: blue;
			}
			.fontSize {
				font-size: 30px;
			}
		</style>
		<script src="./src/vue.js"></script>
	</head>

	<body>
		<!--模板-->
		<div id="app">
			<h2 :title="title">{{ title }}</h2>
			<p style="font-size:50px;" :style="{background:list.length ? 'green' : 'red'}">新闻列表</p>
			<p class="fontSize" :class="{red:!list.length,blue:list.length}">新闻列表</p>
			<ul v-if="list.length">
				<li v-for='value,index in list'>
					<p>我是标题：{{ value.title }}</p>
					<img :src="value.imgSrc" />
				</li>
			</ul>
			<div>
				{{ content }}
			</div>
		</div>

		<script>
			/*
				vue 指令做判断
					v-if

				提前在数据中声明key值

				改变样式 class style
				:class = '{class名字:boolean}'  boolean为true添加class
				:style = '{样式名:样式值}'  
			*/

			var vm = new Vue({
				el: '#app',
				data:{
					title:"这是标题",
					content:"这是我的正文",
					list:[]
				}
			})

			setTimeout(function (){
				vm.list = [
						{
							title:"我是新闻标题",
							imgSrc:'./img/1.jpg'
						},
						{
							title:"我是新闻标题",
							imgSrc:'./img/1.jpg'
						},
						{
							title:"我是新闻标题",
							imgSrc:'./img/1.jpg'
						}
					]	
			},2000)


		</script>
	</body>
</html>