<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
		<style>
			.red{
				background: red;
			}
			.blue{
				background: blue;
			}
			.fontSize {
				font-size: 30px;
			}
		</style>
		<script src="./src/vue.js"></script>
	</head>

	<body>
		<!--模板-->
		<div id="app">
			<input type="checkbox" v-model="bl"  />
			<div>我是一句话</div>
			<p v-if='bl'>
				bl为true
			</p>
			<p v-show="bl">
				我用的指令是v-show
			</p>
		</div>

		<script>
			/*
				数据改变，更新视图，只会更新哪些改变数据使用到的html元素

					v-model作用在checkbox上，就记录的是checked的值

				v-if 如果值为false，元素在页面中不存在；值为true，展示在页面中
				v-show 如果值为false，元素隐藏display：none；如果值为true，元素显示display：block；

				频繁的操作dom的显示隐藏，建议使用v-show

				初始页面没有某个元素，等某个数据发生变化，再去显示某个而元素，v-if

			*/

			//btn.checked = false;

			var vm = new Vue({
				el: '#app',
				data:{
					bl:false
				}
			})

		</script>
	</body>
</html>