/node_modules
/.idea
/.git
/example/.project
/example/weiyun/.idea
/WeiYun/node_modules
/custom-react-component/node_modules
/node/mongdb/node_modules
/jquery-source-code/test-jq
/cool-resume/resume-min
/webpack/test-webpack/node_modules