
/*black*/

#black .hea_left p {
	color: #ababb0;
	font-size: 16px;
	height: 49px;
	padding-top: 50px;
	float: left;
	margin-left: 18px;
}
#black .hea_qq {
	color: #bec4c9;
}
#black  .hea_mail{
	color: #bec4c9;
	}
#black .intro_right .pic {
    border: 3px solid #fff;
    background: url(../images/intro_03.png) no-repeat;
}
#black .intro_circle {
	background: #696969;
}

#black .detail_right {
	float: left;
	width: 255px;
	padding-left: 15px;
	border-left: 1px dashed #2d3035;
}
#black .hea_intro {
	background: #1c1e22 url(../images/hea_intro_bg.png) repeat-x;
}

#black .high_light {
	background: url(../images/bg.png) no-repeat center top;
}

#black .left .circle {
	background: #4d437f;
}
#black .left_02 .circle_diff {
	background: #4036a1;
}
#black .left_03 .circle_diff {
	background: #3d3ac1;
}

#black .skills_circle {
	background: #4d437f;
}
#black .left_01 h3 {
	font-weight: normal;
	font-size: 24px;
	color: #4d437f;
}
#black .left_02 h3 {
	font-weight: normal;
	font-size: 24px;
	color: #4036a1;
}
#black .left_03 h3 {
	font-weight: normal;
	font-size: 24px;
	color: #3d3ac1;
}

#black .left .pages li {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #aaacae;
	border-radius: 8px;
	margin-right: 19px;
}
#black .left .pages .pages_select {
	background: #4d437f;
}
#black .skills_title h3 {
	font-weight: normal;
	font-size: 36px;
	margin-bottom: 12px;
	color:#1d1d1d;
}

#black .bottom_detail .percent {
	width: 59px;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #4d437f;
	font-size: 20px;
	color: #fff;
}
#black .detail_02 .percent {
	background: #4036a1;
}
#black .detail_03 .percent {
	background: #3d3ac1;
}
#black .detail_04 .percent {
	background: #7a82e3;
}
#black .detail_05 .percent {
	background: #3356d9;
}
#black .detail_06 .percent {
	background: #3c6ddd;
}
#black .detail_07 .percent {
	background: #4d89cc;
}
#black .detail_08 .percent {
	background: #529bc5;
}
#black .detail_09 .percent {
	background: #4aacd5;
}
#black .detail_10 .percent {
	background: #4eb5ce;
}

#black .bottom_detail .subject .detail {
	font-size: 20px;
	color: #4d437f;
	position: relative;
}
#black .detail_01 .subject .detail {
	background:#dee0e9;
}
#black .detail_02 .subject .detail {
	color: #4036a1;
	background: #dcdfec;
}
#black .detail_03 .subject .detail {
	color: #3d3ac1;
	background: #dcdff0;
}
#black .detail_04 .subject .detail {
	color: #7a82e3;
	background: #dbe0f2;
}
#black .detail_05 .subject .detail {
	color: #3356d9;
	background: #dbe2f2;
}
#black .detail_06 .subject .detail {
	color: #3c6ddd;
	background: #dce4f3;
}
#black .detail_07 .subject .detail {
	color: #4d89cc;
	background: #dee7f1;
}
#black .detail_08 .subject .detail {
	color: #529bc5;
	background: #dee9f0;
}
#black .detail_09 .subject .detail {
	color: #4aacd5;
	background: #ddebf2;
}
#black .detail_10 .subject .detail {
	color: #4eb5ce;
	background: #deecf1;
}
#black .subject_circle {
	width: 10px;
	height: 10px;
	background: #3d3ac1;
	border-radius: 5px;
	position: absolute;
	top: 15px;
	left: 50%;
}
#black .subject_con {
	position: absolute;
	width: 418px;
	font-size: 12px;
	padding: 22px 19px;
	color: #929395;
	border: 1px solid #9596db;
	z-index: 1;
	border-radius: 5px;
	background: url(../images/tip.png);
	left: 150px;
	bottom: 36px;
}
#black .boxbg {
	background: url(../images/subject_con_jiao.png) no-repeat;
	position: absolute;
	width: 13px;
	height: 8px;
	left: 50%;
	bottom: -8px;
}
#black .date {
	font-size: 18px;
	color: #4d437f;
	text-align: right;
	height: 39px;
	padding-right: 19px;
	line-height: 39px;
	border-bottom: 2px solid #bdbdc2;
	position: relative;
}
#black .company p {
	font-size: 14px;
	color: #4d437f;
	float: right;
	padding: 12px 19px 0px 0px;
}
#black .exper_item .date2 {
	text-align: left;
	padding-left: 16px;
}
#black .timeline_top .dot {
	height: 10px;
	width: 10px;
	background: url(../images/date.png) no-repeat;
	margin: 0 auto;
}
#black .timeline_top .line {
	border-left: 1px solid #bdbdc2;
	border-right: 1px solid #bdbdc2;
	width: 0px;
	height: 40px;
	margin: 0 auto;
}
#black .item_con {
	padding-left: 58px;
	color: #999;
	border-left: 2px solid #bdbdc2;
	margin-left: 43px;
}
#black .item_con2 {
	padding: 0px 40px 0px 16px;
	color: #999;
	border-right: 2px solid #bdbdc2;
	margin-right: 43px;
}
#black .timeline_top .dot2 {
	margin: 0 39px;
}
#black .timeline_top .line2 {
	margin: 0 43px;
}
#black .dot_dom {
	height: 10px;
	width: 10px;
	background: url(../images/date.png) no-repeat;
	margin: 0px 39px;
}

#black .case_listcon .case_li2{
	background: #e9e9e9;
}
#black .case_listcon .case_li3{
	background: #f4f4f4;
}
#black .case_list .case_listbt1{
	background-color:#23252b;
}
#black .case_sharebtn .case_btn{
	background: #6456a9;
	display: block;
	text-align: center;
}
#black .case_sharebtn .case_btn:hover{
	background: #8378ba;
}
#black .project{
	background-color: #23252b;
}
#black .project_lable span{
		background-color: #dedee0;
}
#black .project_ex{
		padding: 37px 0;
		border-bottom: 1px solid #2e3036;
}
#black .case_listbt1 .unload {
	background: #fff url(../images/unload.png) no-repeat center;
}
#black .case_listbt1 .add {
	background: #fff url(../images/add.png) no-repeat center;
}
#black .case_listcon li i{
	background: #acaeaf;
}
#black .case_listcon li:hover i{
	background: #23252b;
}
#black .case_listcon li:hover{
	border-color:#23252b;
}

#black .case_listcon li.hoverStyle{
	border-color:#23252b;
}

#black .case_listcon li.hoverStyle i{
	border-color:#23252b;
	background: #23252b;
}


#black .pro dt{
	background: #bdbec0;
}
#black .project_lable span{
		color:#4d437f;
}


/*red*/
#red .hea_left p {
	color: #e16b5f;
	font-size: 16px;
	height: 49px;
	padding-top: 50px;
	float: left;
	margin-left: 18px;
}
#red .hea_qq {
	color: #8b8c93;
}
#red .hea_mail{
	color: #8b8c93;
	}
#red .intro_right .pic {
    border: 3px solid #e16b5f;
    background: url(../images/intro_03.png) no-repeat;
}
#red .intro_circle {
	background: #734776;
}
#red .detail_right {
	float: left;
	width: 255px;
	padding-left: 15px;
	border-left: 1px dashed #422e46;
}
#red .hea_intro {
	background: #191b21 url(../images/hea_intro_bgred.png) repeat-x;
}
#red .high_light {
	background: url(../images/bg_red.png) no-repeat center top;
}

#red .left .circle {
	background: #e26c60;
}

#red .left_02 .circle_diff {
	background: #b93d5f;
}
#red .left_03 .circle_diff {
	background: #985a99;
}

#red .skills_circle {
	background: #e26c60;
}
#red .left_01 h3 {
	font-weight: normal;
	font-size: 24px;
	color: #e26c60;
}
#red .left_02 h3 {
	font-weight: normal;
	font-size: 24px;
	color: #b93d5f;
}
#red .left_03 h3 {
	font-weight: normal;
	font-size: 24px;
	color: #985a99;
}
#red .left .pages li {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #ccb5d0;
	border-radius: 8px;
	margin-right: 19px;
}
#red .left .pages .pages_select {
	background: #985a99;
}
#red .skills_title h3 {
	font-weight: normal;
	font-size: 36px;
	margin-bottom: 12px;
	color:#985a99;
}
#red .bottom_detail .percent {
	width: 59px;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #e26c60;
	font-size: 20px;
	color: #fff;
}
#red .detail_02 .percent {
	background: #b93d5f;
}
#red .detail_03 .percent {
	background: #985a99;
}
#red .detail_04 .percent {
	background: #4b4b9c;
}
#red .detail_05 .percent {
	background: #0987c2;
}
#red .detail_06 .percent {
	background: #09c0c2;
}
#red .detail_07 .percent {
	background: #3ebe3b;
}
#red .detail_08 .percent {
	background: #99c209;
}
#red .detail_09 .percent {
	background: #e0c857;
}
#red .detail_10 .percent {
	background: #e09857;
}

#red .bottom_detail .subject .detail {
	font-size: 20px;
	color: #e26c60;
	position: relative;
}
#red .detail_01 .subject .detail {
	background:#ede4e6;
}
#red .detail_02 .subject .detail {
	color: #b93d5f;
	background: #e9e0e6;
}
#red .detail_03 .subject .detail {
	color: #985a99;
	background: #e5e3ec;
}
#red .detail_04 .subject .detail {
	color: #4b4b9c;
	background: #dde1ec;
}
#red .detail_05 .subject .detail {
	color: #0987c2;
	background: #d7e7f0;
}
#red .detail_06 .subject .detail {
	color: #09c0c2;
	background: #d7edf0;
}
#red .detail_07 .subject .detail {
	color: #3ebe3b;
	background: #dcede2;
}
#red .detail_08 .subject .detail {
	color: #99c209;
	background: #e5eddd;
}
#red .detail_09 .subject .detail {
	color: #e0c857;
	background: #edeee5;
}
#red .detail_10 .subject .detail {
	color: #e09857;
	background: #ede9e5;
}
#red .subject_circle {
	width: 10px;
	height: 10px;
	background: #985a99;
	border-radius: 5px;
	position: absolute;
	top: 15px;
	left: 50%;
}

#red .subject_con {
	position: absolute;
	width: 418px;
	font-size: 12px;
	padding: 22px 19px;
	color: #929395;
	border: 1px solid #c3a6c7;
	z-index: 1;
	border-radius: 5px;
	background: url(../images/tip.png);
	left: 150px;
	bottom: 36px;
}
#red .boxbg {
	background: url(../images/subject_con_jiaor.png) no-repeat;
	position: absolute;
	width: 13px;
	height: 8px;
	left: 50%;
	bottom: -8px;
}
#red .date {
	font-size: 18px;
	color: #e26c60;
	text-align: right;
	height: 39px;
	padding-right: 19px;
	line-height: 39px;
	border-bottom: 2px solid #e26c60;
	position: relative;
}
#red .exper_item .date2 {
	text-align: left;
	padding-left: 16px;
}
#red .dateL{
	color: #a068a0;
	border-bottom: 2px solid #a068a0;
	}
#red .company p {
	font-size: 14px;
	color: #e26c60;
	float: right;
	padding: 12px 19px 0px 0px;
}
#red .companyL p {
	font-size: 14px;
	color: #a068a0;
	float: right;
	padding: 12px 19px 0px 0px;
}
#red .timeline_top .dot {
	height: 10px;
	width: 10px;
	background: url(../images/dater.png) no-repeat;
	margin: 0 auto;
}
#red .timeline_top .line {
	border-left: 1px solid #e26c60;
	border-right: 1px solid #e26c60;
	width: 0px;
	height: 40px;
	margin: 0 auto;
}
#red .item_con {
	padding-left: 58px;
	color: #999;
	border-left: 2px solid #a068a0;
	margin-left: 43px;
}

#red .item_con2 {
	padding: 0px 40px 0px 16px;
	color: #999;
	border-right: 2px solid #e26c60 ;
	margin-right: 43px;
}
#red .timeline_top .dot2 {
	margin: 0 39px;
}
#red .timeline_top .line2 {
	margin: 0 43px;
}
#red .dot_domr {
	height: 10px;
	width: 10px;
	background: url(../images/daterp.png) no-repeat;
	margin: 0px 39px;
}
#red .case_listcon .case_li2{
	background: #fbe9e7;
}
#red .case_listcon .case_li3{
	background: #fdf6f5;
}
#red .case_list .case_listbt1{
	background-color:#e4877e;
}
#red .case_sharebtn .case_btn{
	background: #e26c60;
	display: block;
	text-align: center;

}
#red .case_sharebtn .case_btn:hover{
	background: #e6948c;
}
#red .project{
	background-color: #e26c60;
}
#red .project_lable span{
		background-color: #ffffff;
}
#red .project_ex{
		padding: 37px 0;
		border-bottom: 1px solid #e88980;
}
#red .case_listbt1 .unload {
	background: #fff url(../images/redcase_unload.png) no-repeat center;
}
#red .case_listbt1 .add {
	background: #fff url(../images/redcase_add.png) no-repeat center;
}
#red .case_listcon li i{
	background: #acaeaf;
}
#red .case_listcon li:hover i{
	background: #e4877e;
}
#red .case_listcon li:hover{
	border-color:#e4877e;
}
#red .pro dt{
	background: #f6d3d0;
}
#red .project_lable span{
		color:#b93d5f;
}



/*blue*/
#blue .hea_left p {
	color: #8fc2dc;
	font-size: 16px;
	height: 49px;
	padding-top: 50px;
	float: left;
	margin-left: 18px;
}
#blue .hea_qq {
	color: #9eb1c5;
}
#blue .hea_mail{
	color: #9eb1c5;
	}
#blue .intro_right .pic {
    border: 3px solid #1eb5f2;
    background: url(../images/intro_03.png) no-repeat;
}
#blue .intro_circle {
	background: #1eb5f2;
}
#blue .detail_right {
	float: left;
	width: 255px;
	padding-left: 15px;
	border-left: 1px dashed #215f95;
}
#blue .hea_intro {
	background: #22467c url(../images/hea_intro_bgblue.png) repeat-x;
}

#blue .high_light {
	background: url(../images/bg_blue.png) no-repeat center top;
}

#blue .detail_left p {
	color: #7fb0cd;
}

#blue .left .circle {
	background: #223c8b;
}

#blue .left_02 .circle_diff {
	background: #2761b1;
}
#blue .left_03 .circle_diff {
	background: #1480ec;
}

#blue .skills_circle {
	background: #223c8b;
}

#blue .left_01 h3 {
	font-weight: normal;
	font-size: 24px;
	color: #223c8b;
}
#blue .left_02 h3 {
	font-weight: normal;
	font-size: 24px;
	color: #2761b1;
}
#blue .left_03 h3 {
	font-weight: normal;
	font-size: 24px;
	color: #1480ec;
}

#blue .left .pages li {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #97c4f1;
	border-radius: 8px;
	margin-right: 19px;
}
#blue .left .pages .pages_select {
	background: #1480ec;
}

#blue .skills_title h3 {
	font-weight: normal;
	font-size: 36px;
	margin-bottom: 12px;
	color:#1d1d1d;
}
#blue .bottom_detail .percent {
	width: 59px;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #223c8b;
	font-size: 20px;
	color: #fff;
}
#blue .detail_02 .percent {
	background: #2761b1;
}
#blue .detail_03 .percent {
	background: #1480ec;
}
#blue .detail_04 .percent {
	background: #1b9ef1;
}
#blue .detail_05 .percent {
	background: #1bb7f1;
}
#blue .detail_06 .percent {
	background: #25d0f5;
}
#blue .detail_07 .percent {
	background: #3bdddf;
}
#blue .detail_08 .percent {
	background: #41d6bf;
}
#blue .detail_09 .percent {
	background: #41d69c;
}
#blue .detail_10 .percent {
	background: #41d668;
}

#blue .bottom_detail .subject .detail { 
	font-size: 20px;
	color: #223c8b;
	position: relative;
}
#blue .detail_01 .subject .detail {
	background:#d9dfea;
}
#blue .detail_02 .subject .detail {
	color: #2761b1;
	background: #dae3ee;
}
#blue .detail_03 .subject .detail {
	color: #1480ec;
	background: #d8e6f4;
}
#blue .detail_04 .subject .detail {
	color: #1b9ef1;
	background: #d8e9f5;
}
#blue .detail_05 .subject .detail {
	color: #1bb7f1;
	background: #d8ecf5;
}
#blue .detail_06 .subject .detail {
	color: #25d0f5;
	background: #daeff5;
}
#blue .detail_07 .subject .detail {
	color: #3bdddf;
	background: #dcf0f3;
}
#blue .detail_08 .subject .detail {
	color: #41d6bf;
	background: #dcefef;
}
#blue .detail_09 .subject .detail {
	color: #41d69c;
	background: #dcefec;
}
#blue .detail_10 .subject .detail {
	color: #41d668;
	background: #dcefe7;
}

#blue .subject_circle {
	width: 10px;
	height: 10px;
	background: #1480ec;
	border-radius: 5px;
	position: absolute;
	top: 15px;
	left: 50%;
}
#blue .subject_con {
	position: absolute;
	width: 418px;
	font-size: 12px;
	padding: 22px 19px;
	color: #929395;
	border: 1px solid #81b9f0;
	z-index: 1;
	border-radius: 5px;
	background: url(../images/tip.png);
	left: 150px;
	bottom: 36px;
}
#blue .boxbg {
	background: url(../images/subject_con_jiaob.png) no-repeat;
	position: absolute;
	width: 13px;
	height: 8px;
	left: 50%;
	bottom: -8px;
}
#blue .date {
	font-size: 18px;
	color: #2b589b;
	text-align: right;
	height: 39px;
	padding-right: 19px;
	line-height: 39px;
	border-bottom: 2px solid #2b589b;
	position: relative;
}
#blue .dateBL{
	color: #1b9ef1;
	border-bottom: 2px solid #1b9ef1;
	}
#blue .company p {
	font-size: 14px;
	color: #2b589b;
	float: right;
	padding: 12px 19px 0px 0px;
}
#blue .companyB p {
	color: #1b9ef1;
}
#blue .exper_item .date2 {
	text-align: left;
	padding-left: 16px;
}
#blue .timeline_top .dot {
	height: 10px;
	width: 10px;
	background: url(../images/dateb.png) no-repeat;
	margin: 0 auto;
}
#blue .timeline_top .line {
	border-left: 1px solid #2b589b;
	border-right: 1px solid #2b589b;
	width: 0px;
	height: 40px;
	margin: 0 auto;
}
#blue .item_con {
	padding-left: 58px;
	color: #999;
	border-left: 2px solid #1b9ef1;
	margin-left: 43px;
}
#blue .item_con2 {
	padding: 0px 40px 0px 16px;
	color: #999;
	border-right: 2px solid #2b589b;
	margin-right: 43px;
}
#blue .timeline_top .dot2 {
	margin: 0 39px;
}
#blue .timeline_top .line2 {
	margin: 0 43px;
}
#blue .dot_dom {
	height: 10px;
	width: 10px;
	background: url(../images/datebl.png) no-repeat;
	margin: 0px 39px;
}
#blue .case_listcon .case_li2{
	background: #e2f2fd;
}
#blue .case_listcon .case_li3{
	background: #f0f9fe;
}
#blue .case_list .case_listbt1{
	background-color:#6fc0f3 ;
}
#blue .case_sharebtn .case_btn{
	background: #1b9ef1;
	display: block;
	text-align: center;
}
#blue .case_sharebtn .case_btn:hover{
	background: #5ab7f2;
}
#blue .project{
	background-color: #2b589b;
}
#blue .project_lable span{
		background-color: #ffffff;
}
#blue .project_ex{
		padding: 37px 0;
		border-bottom: 1px solid #5579af;
}
#blue .case_listbt1 .unload {
	background: #fff url(../images/bluecase_unload.png) no-repeat center;
}
#blue .case_listbt1 .add {
	background: #fff url(../images/bluecase_add.png) no-repeat center;
}
#blue .case_listcon li i{
	background: #acaeaf;
}
#blue .case_listcon li:hover i{
	background: #1b9ef1;
}
#blue .case_listcon li:hover{
	border-color:#6fc0f3;
}
#blue .pro dt{
	background: #c0cde1;
}
#blue .project_lable span{
		color:#2b589b;}
