@charset "utf-8";
/* CSS Document */

body, dl, dt, dd, ul, li, ol, p, h1, h2, h3, h4, h5, h6, th, td, form, fieldset, legend, input, textarea, select {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	font-weight:100;
}
img {
	border: 0;
	display: block;
}
a {
	text-decoration: none;
}
ul, li {
	list-style: none;
}
body {
	font-size: 12px;
	font-family: "微软雅黑";
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}
.clearfix {
	zoom: 1;
}

/*header*/

.header {
	width: 100%;
	height: 99px;
	border-bottom: 1px solid #453d53;
}
.hea_con {
	width: 1000px;
	height: 99px;
	margin: 0 auto;
}
.hea_left {
	float: left;
	height: 99px;
}
.hea_left h3 {
	color: #fff;
	font-size: 36px;
	font-weight: normal;
	height: 99px;
	line-height: 99px;
	float: left;
	font-family: "FZLTXHK", "微软雅黑";
}
.hea_left p {
	color: #ababb0;
	font-size: 16px;
	height: 49px;
	padding-top: 50px;
	float: left;
	margin-left: 18px;
}
.hea_right {
	float: right;
}

.hea_qq {
	background: url(../images/hea_03.png) no-repeat left 39px;
	margin-right: 37px;
	height: 51px;
	padding-top: 48px;
	float: left;
	padding-left: 38px;
}
.hea_mail {
	background: url(../images/hea_05.png) no-repeat left 39px;
	height: 51px;
	padding-top: 48px;
	float: left;
	padding-left: 38px;
}
/*intro*/

.intro {
	width: 100%;
}
.intro_con {
	width: 1000px;
	margin: 0 auto;
	font-size: 14px;
	padding-bottom: 38px;
}
.intro_left {
	float: left;
	color: #c5cbd0;
	width: 309px;
	padding: 154px 0px 0px 15px;
	margin-right: 59px;
	background: url(../images/intro_05.png) no-repeat 0px 156px;
}
.intro_left p {
	margin: 0px 8px 0 8px;
	line-height: 24px;
	background: url(../images/intro_07.png) no-repeat 104px 30px;
}
.intro_right {
	float: left;
	padding-top: 72px;
}

.intro_detail {
	float: right;
	width: 349px;
}
.intro_detail li {
	clear: both;
	position: relative;
}
.intro_detail .dashedline {
	border-left: 1px dashed #2e3039;
	width: 0px;
	height: 30px;
	margin: 0 66px;
}
.intro_right .pic {
	float: left;
	margin-right: 25px;
	width: 200px;
    height: 200px;
    border-radius: 100px;
}
.intro_circle {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	position: absolute;
	left: 60px;
	top: 11px;
}
.detail_left {
	float: left;
	margin-right: 8px;
}
.detail_left p {
	line-height: 30px;
	width: 56px;
	text-align: right;
	color: #6a6b6e;
}

.detail_right p {
	color: #a6abb0;
	line-height: 30px;
}

.intro_first {
	margin-top: 11px;
}
.intro_firstcon {
	margin-top: -11px;
}
.intro_last {
	margin-bottom: 11px;
}
.intro_lastcon {
	margin-bottom: -11px;
}
/*skills*/

.skills {
	background: #eef2f5;
	transition:3s;
}
.skills_top {
	width: 100%;
	border-bottom: 2px solid #fff;
	overflow: hidden;
	padding-bottom: 63px;
}
.skills_top .top_con {
	width: 1000px;
	margin: 0 auto;
}
.skills_title {
	width: 1000px;
	height: 100px;
	text-align: center;
	padding-top: 42px;
}

.skills_title p {
	color: #b6b6b6;
	font-size: 16px;
}
.top_detail .left {
	width: 362px;
	float: left;
	margin-right: 52px;
	opacity: 0;
	transition:1s;
}

.top_detail .left .skillLanguage{
	display: none;
	opacity: 0;
}

.top_detail .right {
	width: 586px;
	float: left;
}
.left .left_01, .left_02, .left_03 {
	margin-bottom: 44px;
}
.left p {
	color: #b2b2b3;
	font-size: 12px;
	line-height: 24px;
	padding-left: 30px;
}

.left_01 li {
	clear: both;
	position: relative;
	margin-left: 14px;
}
.left_01 .skills_content {
	float: left;
	line-height: 24px;
	position: relative;
	border-left: 1px solid #dcdfe2;
}
.skills_circle {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	position: absolute;
	left: -4px;
	top: 9px;
}
.left .circle {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

.left .pages {
	margin-top: 14px;
	text-align: center;
	height: 20px;
}

.bottom_con {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.bottom_detail li {
	height: 40px;
	margin-bottom: 19px;
}

.bottom_detail .subject {
	width: 941px;
	float: left;
	height: 40px;
	line-height: 40px;
}



.skills em {
	display: block;
	height: 18px;
	width: 1px;
	position: absolute;
	background: #dcdfe2;
	left: 17px;
	top: 17px;
}
.left_01 .skills_first {
	margin-top: 10px;
}
.left_01 .skills_first .first_con {
	margin-top: -10px;
}
.left_01 .skills_last {
	margin-bottom: 10px;
}
.left_01 .skills_last .last_con {
	margin-bottom: -10px;
}
/*timeAxis*/

.timeAxis {
	width: 100%;
	padding-bottom: 50px;
}
.timecon {
	width: 1000px;
	margin: 0 auto;
}
.ball {
	float: left;
	width: 88px;
}

.icon {
	background: url(../images/expre_logo1.png) no-repeat 14px 10px;
}
.icon2 {
	background: url(../images/expre_logo2.png) no-repeat 14px 10px;
}
.icon3 {
	background: url(../images/expre_logo3.png) no-repeat 14px 10px;
}
.empty {
	width: 456px;
	height: 182px;
	float: left;
}
.exper_item {
	width: 544px;
}
.exper_itemL {
	margin-left: 456px;
}
.item_title {
	overflow: hidden;
}
.title_word {
	overflow: hidden;
	float: left;
	width: 456px;
}

.date img {
	position: absolute;
	bottom: -5px;
	right: 0px;
}
.company {
	height: 39px;
}
.company h4 {
	font-weight: normal;
	font-size: 18px;
	color: #464646;
	padding: 12px 0px 0px 16px;
	float: left;
}



.item_con, .item_con2 p {
	line-height: 24px;
}

.exper_item .date2 img {
	position: absolute;
	bottom: -5px;
	left: 0px;
}
.exper .exper_item2 {
	width: 1000px;
}
.exper_item2 .date {
	text-align: left;
	padding-left: 16px;
}
.title_word2 {
	width: 912px;
}


.case{
	overflow: hidden;
	background-color: #eef2f5;
}
.casecon{width: 1000px;
		margin:0 auto;
}
.case1{
	margin-bottom: 50px;
	overflow: hidden;
}
.bts{
	height: 120px;
}
.bt{font-size: 36px;
		line-height: 36px;
		color:#1d1d1d;
		padding-top: 49px;
		text-align: center;
}
.smallbt{
	font-size: 16px;
	line-height: 16px;
	color: #999999;
	margin-top: 15px;
	text-align: center;
}
.case_left{
	float: left;
	width: 360px;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.case_list{margin-bottom: 10px;}
.case_list .case_listbt1{
						height: 50px;
						line-height:50px;
						color:#fff;
						font-size: 18px;
						padding-left: 44px;
						position: relative;
}
.case_list .case_listcon{padding:8px 0;
						background:#fff;
}

.case_list_main {
	width: 340px;
	position: absolute;
	left: 0;
	top: 0;
}
.list_scroll {
	height: 100%;
	width: 10px;
	background: #d5d7db;
	position: absolute;
	right: 0;
	top:0;
}

.list_bar {
	height: 100px;
	width: 10px;
	background: #8a8d91;
	position: absolute;
	left: 0;
	top: 0;
}


.case_listbt1 em{
	display: block;
	position: absolute;
	top:14px;
	left:10px;
	width:24px;
	height: 24px;
	border-radius: 12px;
	background-color:#fff ;
}
.case_listcon li{
	height: 40px;
	line-height: 40px;
	padding-left: 65px;
	position: relative;
	border-left: 3px solid transparent;
}
.case_listcon li:hover{
	border-color:#23252b;
}
.case_listcon li i{
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	top:16px;
	left: 44px;
	
}
.case_listcon li span{
	display: block;
	position: absolute;
	width: 2px;
	height: 32px;
	top:24px;
	left: 47px;
	background: #eeefef;
}
.case_listcon li:hover i{
	background: #acaeaf;
}
.case_listcon li a{
	font-size: 14px;
	color: #1f1f1f;
}
.case_right{
	float: right;
	height: 100%;
	width:560px;
	padding: 0px 30px 0px 30px;
	background: #FFFFFF;
	overflow: hidden;

}

.case_right .right_content {
	position: relative;
	height: 100%;
}

.case_right .case_share {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.case_right .case_bt2{
	font-size:18px;
	line-height: 28px;
	color: #1d1d1d;
	padding-top: 25px;
}
.case_right .case_time{
	line-height:22px;
	color: #999;
	padding-bottom: 15px;
	border-bottom: 1px dashed #d8d8d8;
}
.case_right .case_intro{
	font-size: 14px;
	color:#777879;
	line-height: 20px;
	-height: 54px;
}
.case_sharebtn{
	float:left;
	margin-top: 20px;
}
.case_sharebtn .case_btn{
	height: 40px;
	width: 160px;
	border: 0;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
}
.case_sharelink{
	float: right;
	margin-top: 24px;
}
.case_sharelink span{
	font-size: 14px;
	color: #000;
	float: left;
	margin-top: 10px;
}
.case_sharelink span:hover{
	color: #999999;
}
.case_sharelink a{
	float: left;
	margin-left: 20px;
	background-image:url(../images/share.png);
	width: 32px;
	height: 32px;
}
.case_sharelink .kongjian{
	background-position: -32px 0;
}
.case_sharelink .weixin{
	background-position: -64px 0;
}
.case_sharelink .qq{
	background-position: -96px 0;
}
.case_sharelink .douban{
	background-position: -128px 0;
}
.case_sharelink .weibo:hover{
	background-position:0px -32px;
}
.case_sharelink .kongjian:hover{
	background-position: -32px -32px;
}
.case_sharelink .weixin:hover{
	background-position: -64px -32px;
}
.case_sharelink .qq:hover{
	background-position: -96px -32px;
}
.case_sharelink .douban:hover{
	background-position: -128px -32px;
}
.case_right .case_decoration{
	line-height: 30px;
	margin-top: 10px;
	color: #777879;
	padding-left: 4px;
}

/*-------------------------------project--------------------------*/

.project .bts{
	height: 144px;
}
.project .bt{
	color:#fff;
}
.project .smallbt{
	color: #c7c7c8;
}
.project_bt{
	color: #fff;
	font-size: 24px;
	line-height: 30px;
}
.pro{
	width: 1000px;
	margin: 0 auto;
}
.pro dt{
	float: right;
	width: 330px;
	height: 220px;
	padding: 3px;
	background: #bdbec0;
	border-radius:13px;
}
.pro dd{
	float: left;
	width: 547px;
}
.project_time{
	font-size: 16px;
	color: #bdbec0;
	line-height: 32px;
	margin-bottom: 12px;
}
.project_dec{
	font-size: 14px;
	color: #d7d7d7;
	line-height: 24px;
}
.project_lable{
	margin-top: 22px;
}
.project_lable span{
	float: left;
	margin-right: 12px;
	width: 80px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	text-align: center;
	border-radius:1px;
}

/*-------------------------------footer--------------------------*/
.footer{
	background: #eef2f5;
	border-top:1px solid #bec2c4 ;
	padding-top: 30px;
	padding-bottom: 76px;
}
.footcon{
	width: 1000px;
	margin: 0 auto;
}
.footer p{
	font-size: 14px;
	line-height: 24px;
}
.footleft{
	float: left;
	padding-top: 15px;
	color: #464646;
}
.footright{
	float:right;
}
.footright dl{
	width: 248px;
}
.footright dt{
	float: right;
}
.footright dd{
	float: left;
	padding-top: 20px;
	color: #babcbe;
}
