<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../vue.js" charset="utf-8"></script>
  </head>
  <body>
	<div id="demo">
		<custom-compont></custom-compont>
		<custom-compont></custom-compont>
		<my-compont></my-compont>
	</div>
	<script type="text/javascript">
	  /*
	  * 什么是组件
	  *组件可以扩展html元素，封装可重用的代码，是自定义元素，由vue编译器提供特殊功能。
	  * */
	  //注册全局组件
	  /*
	        Vue.component(组件名，参数选项)
	        组件名：使用烤串的命名，也可以使用小驼峰命名，但在使用组件的时候，要用烤串命名
	        参数选项：
	            必须有template或render，否则报错
	            模板必须只能有一个根元素

	         确保要在初始化根实例之前定义好组件
	  */
		//全局注册组件
		//烤串命名法
		Vue.component("custom-compont",{
		    template:"<div>hello,component!</div>"
		});
		//驼峰命名法
		Vue.component("myCompont",{
		    template:"<div>hello,myCompont!</div>"
		});
		//初始化根实例（root instance）
		new Vue({
		    el:"#demo"
		});
	</script>
  </body>
</html>
