<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../vue.js" charset="utf-8"></script>
    <style>
        .ok{
            background: green;
        }
        .error{
            background: red;
        }
        .warn{
            background: yellow;
        }
    </style>
</head>
<body>
    <div id="demo">
        <h1>测试动态组件</h1>
        <hr>
        <input 
            type="button" 
            value="加载a-component组件"
            v-on:click="changeComponent" 
            data-component="aComponent"
        />
        <input 
            type="button" 
            value="加载b-component组件"
            v-on:click="changeComponent" 
            data-component="bComponent"
        />
        <input 
            type="button" 
            value="加载c-component组件"
            v-on:click="changeComponent" 
            data-component="cComponent"
        />
        
        <component :is="curComponent"></component>  
        <hr>
        <h2>绑定在组件对象上</h2>
        <hr>
        <input 
            type="button" 
            value="加载home组件"
            v-on:click="changeglobalCom" 
            data-component="home"
        />
        <input 
            type="button" 
            value="加载test组件"
            v-on:click="changeglobalCom" 
            data-component="test"
        />
        
        <component :is="testCompoent"></component>  
    </div>
<script type="text/javascript">

/*
    不能使用html中的标签和html保留的标签作为组件名

    多个组件可以使用同一个挂载点，使用保留的组件名component，结合is属性，动态加载不同的组件
*/
//组件对象(component objects)
var home = {
    template:"<p>我是home组件{{m}}</p>",
    data:function (){
        return {
            m:"hello"
        }       
    }
}

var test = Vue.component("test",{
    template:"<p>我是test组件</p>"
});

new Vue({
    el:"#demo",
    data:{
        curComponent:"aComponent",
        testCompoent:home
    },
    components:{
        "aComponent":{
            template:"<p>我是A组件</p>"
        },
        "bComponent":{
            template:"<p>我是B组件</p>"
        },
        "cComponent":{
            template:"<p>我是C组件</p>"
        }
    },
    methods:{
        changeComponent:function (ev){
            var cur = ev.target.dataset.component;
            this.curComponent = cur;
        },
        changeglobalCom:function (ev){
            this.testCompoent = test;
        }
    }
})


</script>
</body>
</html>
