<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../vue.js" charset="utf-8"></script>
</head>
<body>
    <div id="demo">
        <my-component></my-component>
        <my-component></my-component>
        <my-component></my-component>
    </div>
    <div id="demo2">
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
    </div>
    <div id="demo3">
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
    </div>
<script type="text/javascript">
    /*
    * 
        组件中的参数选项data必须是一个函数，否则会警告
    * */
    //data不是函数会发出警告
    Vue.component('my-component', {
        template: '<span>{{ message }}</span>',
        data: {
            message: 'hello'
        }
    });


    new Vue({
        el:"#demo"
    });

    //为什么必须要使用函数？如果使用对象的形式，多个组件可以改变同一个对象，使用函数，可以返回一个新的对象，不互相引用。使用了函数，并返回的是同一个对象的引用，不报错，例如：

    var data = { counter: 0 };
    Vue.component('simple-counter', {
        template: '<button v-on:click="counter += 1">{{ counter }}</button>',
        // data 是一个函数，因此 Vue 不会警告，
        // 但是为每一个组件返回了同一个对象引用
        data: function () {
            return data
        }
    })
    new Vue({
      el: '#demo2'
    });

    //正确的姿势,函数中返回一个对象
    Vue.component('simple-counter', {
        template: '<button v-on:click="counter += 1">{{ counter }}</button>',
        // data 是一个函数，因此 Vue 不会警告，
        // 但是为每一个组件返回了同一个对象引用
        data: function () {
            return { counter: 0 };
        }
    })
    new Vue({
      el: '#demo3'
    });


</script>
</body>
</html>
