<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../vue.js" charset="utf-8"></script>
</head>
<body>
    <div id="demo">
        {{message}}
        <my-component :message="message"></my-component>
        <my-component :options-obj="optionsObj"></my-component>
        <my-component></my-component>
    </div>
<script type="text/javascript">

    /*
        组件意味着协同工作，通常父子组件会是这样的关系：组件 A 在它的模版中使用了组件 B 。它们之间必然需要相互通信：父组件要给子组件传递数据，子组件需要将它内部发生的事情告知给父组件。然而，在一个良好定义的接口中尽可能将父子组件解耦是很重要的。这保证了每个组件可以在相对隔离的环境中书写和理解，也大幅提高了组件的可维护性和可重用性。

        在 Vue.js 中，父子组件的关系可以总结为 props down, events up 。父组件通过 props 向下传递数据给子组件，子组件通过 events 给父组件发送消息。
    */
    //父组件传给子组件数据，通过组件的自定义属性
    //父组件要把数据传给子组件，使用选项参数的props属性
    //自定义属性可以使烤串命名，到了子组件接收时候要用驼峰命名法

    Vue.component("my-component",{
        //声明props
        props:["message","optionsObj"],
        template:"<div>hello,{{message}}，{{optionsObj}}哈哈哈</div>"
    })

    new Vue({
        el:"#demo",
        data:{
            message:"这是父组件的信息",
            "optionsObj":[1,2,3]
        }
    })

</script>
</body>
</html>
