<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../vue.js" charset="utf-8"></script>
</head>
<body>
    <div id="demo">
        {{optionsObj}}
        <my-component :message="message" :options-obj="optionsObj"></my-component>
    </div>
<script type="text/javascript">

    /*
        父组件给子组件传入数据，子组件不能修改props中的值，否则会抛出错误
        
    */

    Vue.component("child-component",{
        //声明props
        props:["message","optionsObj"],
        template:`<div>
            <p>{{message}}</p>
            <input type="button" value="测试改变props中数据" @click="this.clickHandle" />
            <p>{{this.optionsObj}}</p>
        </div>`,
        methods:{
            clickHandle:function (){
                this.optionsObj.push(123)
            }
        }
    })

    Vue.component("my-component",{
        //声明props
        props:["message","optionsObj"],
        template:`<div>
            <p>{{message}}</p>
            <input 
                type="button" 
                value="测试改变props中数据" 
                @click="this.clickHandle" 
            />
            <p>{{this.optionsObj}}</p>
            <hr/>
            <child-component :optionsObj="this.optionsObj"></child-component>
        </div>`,
        methods:{
            clickHandle:function (){
                this.message = "hello";  //非引用类型的值，会警告
                this.optionsObj.push(123);//应用类型的值，不警告，改变父组件的状态
            }
        }
    })

    new Vue({
        el:"#demo",
        data:{
            message:"这是父组件的信息",
            "optionsObj":[1,2,3]
        }
    })

</script>
</body>
</html>
