<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../vue.js" charset="utf-8"></script>
</head>
<body>
    <div id="demo">
        {{message}}
        <my-component 
            v-on:increment="changeMessage" 
            :message="message" 
            v-on:click.native="nativeEvent"
        ></my-component>
    </div>
<script type="text/javascript">

    /*
        非父子组件间的通信
            在根实例下监听一个事件，然后在嵌套的组件中触发该事件
            更建议使用状态管理模式
    */

    Vue.component("child-component",{
        //声明props
        props:["message"],
        template:`<div>
            <p>child-component</p>
            <input 
                type="button" 
                value="测试改变props中数据" 
                @click="this.clickHandle" 
            />
            <p>{{message}}</p>
        </div>`,
        methods:{
            clickHandle:function (){
                //在嵌套组件中触发
                root.$emit("increment");
            }
        }
    })

    Vue.component("my-component",{
        //声明props
        props:["message"],
        template:`<div>
            <input 
                type="button" 
                value="测试改变props中数据" 
                @click="this.clickHandle" 
            />
            <p>{{message}}</p>
            <hr/>
            <child-component :message="message"></child-component>
        </div>`,
        methods:{
            clickHandle:function (){
                //触发自定义事件，通知父级改变数据
                //没有自定义事件，则不触发
               // this.$emit("increment");
            }
        }
    })

    var root = new Vue({
        el:"#demo",
        data:{
            message:1
        },
        methods:{
            changeMessage:function (){
                this.message++;
            },
            nativeEvent:function (){
               console.log(123);     
            }
        }
        
    });

    root.$on("increment",function (){
        console.log("我被触发啦");
        root.message++;   
    });



</script>
</body>
</html>
