<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
		<style>

		</style>
		<script src="../../vue.js"></script>
	</head>

	<body>
		<div id="cutome-event-examplate"></div>

		<script>
			/*
				自定义事件  在组件中父组件可以用来监控子组件触发的事件

				$on(eventName) 监听事件
				$emit(eventName) 触发事件

				父组件在使用子组件的地方可以直接使用v-on：eventName来监听触发的事件

			*/

			//创建Vue实例，让数据和DOM渲染结合
			new Vue({
				el:'#cutome-event-examplate',

			})

		</script>

	</body>
</html>
