// rc结尾的文件通常代表运行时自动加载的文件，配置等等

//babel转换预先安装的插件

// ecma的草案，总共有四个阶段 数字越小包含的东西越多

// 根据环境的不同，编译js语法

{
  "presets": [
    ["env", { "modules": false }], //写了env这么一个预设
    "stage-2"  // 提一个功能需要四个阶段
  ],
  "plugins": ["transform-runtime"],  // es6中一些方法做转换
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
