<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="src/popup/css/demo.css">
</head>
<body>
    <div class="main">
        <div class="nav">
            <nav class="clearFix navCollects">
                <a href="#" class="move">
                    <span>
                        <i></i>
                        <span>移动到</span>
                    </span>
                </a>
                <a href="#" class="rename">
                    <span>
                        <i></i>
                        <span>重命名</span>
                    </span>
                </a>
                <a href="#" class="delect">
                     <span>
                        <i></i>
                        <span>删除</span>
                    </span>

                </a>
                <a href="#" class="create">
                    <span>
                        <i></i>
                        <span>新建文件夹</span>
                    </span>
                </a>
                <a href="#" class="reload">
                    <span>
                        <i></i>
                        <span></span>
                    </span>
                </a>
            </nav>
        </div>
        <div class="content clearFix">
            <div class="tree-menu">
               <!-- <ul>
                    <li>
                        <div class="tree-nav tree-contro">
                            <span>
                                <strong class="ellipsis">微云</strong>
                                <i class="ico"></i>
                            </span>
                        </div>
                    </li>
                </ul>-->
            </div>
            <div class="file-show">
                <div class="path-nav-box clearFix">
                    <lable class="checked-all"></lable>
                    <div class="path-nav clearFix">
                    </div>
                </div>
                <div class="file-list clearFix">
                    <div class="file-item">
                        <div class="item">
                            <lable class="checkbox"></lable>
                            <div class="file-img">
                                <i></i>
                            </div>
                            <p class="file-title-box">
                                <span class="file-title">1</span>
                                <span class="file-edtor">
                                    <input class="edtor" type="text"/>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="file-item">
                        <div class="item">
                            <lable class="checkbox"></lable>
                            <div class="file-img">
                                <i></i>
                            </div>
                            <p class="file-title-box">
                                <span class="file-title">1</span>
                                <span class="file-edtor">
                                    <input class="edtor" type="text"/>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-tip-box">
        <span class="full-tip">
            <span class="inner">
                <i class="ico"></i>
                <span class="text" data-id="label">新建文件夹成功</span>
            </span>
        </span>
    </div>
    <div class="move-file-tip"></div>
    <script src="js/data.js"></script>
    <script src="js/handledata.js"></script>
    <script src="js/tools.js"></script>
    <script src="src/popup/js/popup.js"></script>
    <script src="js/index.js"></script>

</body>
</html>