@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/dralog\.scss}line{font-family:\000037}}
.drag-f-left {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/dralog\.scss}line{font-family:\0000311}}
.drag-box {
  width: 1500px;
  height: 1000px;
  border: 1px solid #000;
  background-color: #fff;
  box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/dralog\.scss}line{font-family:\0000319}}
  .drag-box .drag-content {
    width: 100%;
    height: 100%;
    padding-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/dralog\.scss}line{font-family:\0000323}}
    .drag-box .drag-content .drag-top {
      width: 100%;
      height: 70px;
      border-bottom: 1px solid #d9d9d9; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/dralog\.scss}line{font-family:\0000329}}
    .drag-box .drag-content .drag-left-slid {
      width: 300px;
      height: 100%;
      border-right: 1px solid #f8f8f8;
      margin-right: -300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/dralog\.scss}line{font-family:\0000336}}
    .drag-box .drag-content .drag-middle {
      width: auto;
      height: 100%;
      margin: 0 310px;
      overflow: hidden;
      min-width: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/dralog\.scss}line{font-family:\0000344}}
    .drag-box .drag-content .drag-right-slid {
      width: 300px;
      height: 100%;
      border-left: 1px solid #f8f8f8;
      float: right;
      margin-left: -300px; }

@media screen and (max-width: 880px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/dralog\.scss}line{font-family:\0000355}}
  .drag-right-slid {
    display: none; } }
