@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/reset\.scss}line{font-family:\000032}}
body {
  margin: 0px;
  background: #0063b1; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/reset\.scss}line{font-family:\000037}}
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/reset\.scss}line{font-family:\0000313}}
.clearFix:after {
  clear: both;
  display: block;
  content: ''; }
