@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/test-sass\/sass\/index\.sass}line{font-family:\000031}}
#box {
  width: 100px;
  height: 200px;
  background: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/test-sass\/sass\/index\.sass}line{font-family:\000036}}
  #box .list {
    background: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/test-sass\/sass\/index\.sass}line{font-family:\000039}}
    #box .list li {
      padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/test-sass\/sass\/index\.sass}line{}}
  .red {
    background: red; }
