<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
		<style>
			.fade-enter-active, .fade-leave-active {
			  transition: opacity .5s
			}
			.fade-enter, .fade-leave-active {
			  opacity: 0
			}
		</style>
		<script src="../src/vue.js"></script>
	</head>

	<body>
		<div id="app">
			<input type="button" value="toggle" v-on:click="show = !show" />
			<!-- <p v-if="show">show or not show</p> -->
			<transition name="fade">
				<p v-if="show">show or not show</p>
			</transition>
		</div>
		<script>
			new Vue({
				el:"#app",
				data:{
					show:true
				}
			})
		</script>
	</body>
</html>