@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/reset\.sass}line{font-family:\000031}}
body {
  margin: 0px;
  background: #0063b1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/git\/class_example\/win10\/level-one\/sass\/reset\.sass}line{font-family:\000035}}
.clearFix:after {
  clear: both;
  display: block;
  content: "";
}
